        <div class="well well-small" style="margin: 3px;">
        <form>
          <!-- Municipio/Localidad Search -->
          <fieldset>
            <label><i class="icon-filter"></i>&nbsp;municipio o localidad</label>
            <div class="input-append">
              <input class="span10" id="search_part_txt" size="10" type="text"
                  placeholder="ingresa el nombre..." onfocus="clearThis(this)">
              <button class="btn disabled" id="clear_search_txt" type="button"
                onclick="removeAllPartidoSelections()"><i class="icon-remove"></i>
              </button>
            </div>
            <div>
              <button class="span10 btn btn-small" id="search_part" type="button" onclick="setViewToPartido()">
                muestra el municipio o la localidad
              </button>
            </div>
          </fieldset>
          <!-- Barrio Search -->
          <fieldset>
            <label><i class="icon-map-marker"></i>&nbsp;mi barrio</label>
            <div class="input-append">
              <input class="span10" id="search_txt" size="10" type="text"
                  placeholder="ingresa el nombre..." onfocus="clearThis(this)">
              <button class="btn disabled" id="clear_search_txt" type="button"
                onclick="removeAllBarrioSelections()"><i class="icon-remove"></i>
              </button>
            </div>
            <div>
              <button class="span10 btn btn-small" id="search" type="button" onclick="setViewToBarrio()">
                muestra el barrio
              </button>
            </div>
          </fieldset>
        </form>

        <div id="info_barrio" style="height: 505px; padding: 0px; margin: 0px; border: 0px solid #ccc; background-color: #ffffff;">
          <ul class="breadcrumb" style="text-align: center;">
            <li><span id="barrio_id"></span></li>
          </ul>
          <dl class="dl-horizontal" style="font-size: 80%;">
            <dt>Otro nombre:</dt><dd id="other_name_barrio_id">-</dd>
            <dt>Municipio:</dt><dd id="partido_id">-</dd>
            <dt>Localidad:</dt><dd id="localidad_id">-</dd>
            <dt>Cantidad de Familias:</dt><dd id="families_id">-</dd>
            <dt>A&ntilde;o de inicio:</dt><dd id="start_year_id">-</dd>
            <hr>
            <dt>Desag&uuml;es cloacales:</dt><dd id="sewage_id">-</dd>
            <dt>Agua potable:</dt><dd id="water_id">-</dd>
            <dt>Sistema el&eacute;ctrico:</dt><dd id="electrical_id">-</dd>
            <dt>Red de gas:</dt><dd id="gas_id">-</dd>
            <dt>Desag&uuml;es pluviales:</dt><dd id="drains_id">-</dd>
            <dt>Alumbrado p&uacute;blico:</dt><dd id="street_lighting_id">-</dd>
            <dt>Recolecci&oacute;n de residuos:</dt><dd id="waste_collection_id">-</dd>
          </dl>
        </div>
      </div>

        <!-- Barrio info container -->
<!--         <div id="info_barrio" style="height: 500px; margin: 0px; border: 1px solid #ccc; background-color: #ffffff;">
          <ul class="breadcrumb" style="text-align: center;">
            <li><span id="barrio_id"></span></li>
          </ul>
          <dl class="dl-horizontal" style="font-size: 90%;">
            <dt>Otro nombre:</dt><dd id="other_name_barrio_id">-</dd>
            <dt>Municipio:</dt><dd id="partido_id">-</dd>
            <dt>Localidad:</dt><dd id="localidad_id">-</dd>
            <dt>Cantidad de Familias:</dt><dd id="families_id">-</dd>
            <dt>A&ntilde;o de inicio:</dt><dd id="start_year_id">-</dd>
            <hr>
            <dt>Desag&uuml;es cloacales:</dt><dd id="sewage_id">-</dd>
            <dt>Agua potable:</dt><dd id="water_id">-</dd>
            <dt>Sistema el&eacute;ctrico:</dt><dd id="electrical_id">-</dd>
            <dt>Red de gas:</dt><dd id="gas_id">-</dd>
            <dt>Desag&uuml;es pluviales:</dt><dd id="drains_id">-</dd>
            <dt>Alumbrado p&uacute;blico:</dt><dd id="street_lighting_id">-</dd>
            <dt>Recolecci&oacute;n de residuos:</dt><dd id="waste_collection_id">-</dd>
          </dl>
        </div> -->
