<!-- Footer
================================================== -->
<footer>
  <div class="container-fluid">
    <div class="grid">
      <div class="row">
        <p>&copy; Techo 2012&nbsp;|&nbsp;<a href="mailto:#">info.argentina@techo.org</a></p>
        <h5>OFICINAS TECHO EN ARGENTINA</h5>
      </div>
      <div class="row">
        <div class="span4">
          <address>
            <strong>BUENOS AIRES</strong>&nbsp;&nbsp;Montevideo 442, CABA&nbsp;-&nbsp;(011) 50329584<br />
            <strong>CÓRDOBA</strong>&nbsp;&nbsp;Santa Rosa 391&nbsp;-&nbsp;(0351) 423-6545<br />
            <strong>LA PLATA</strong>&nbsp;&nbsp;42 entre 13 y 14 N943&nbsp;-&nbsp;(0 221) 6149480<br />
            <strong>NEUQUÉN</strong>&nbsp;&nbsp;Independencia 586, P 2&nbsp;-&nbsp;(0299) 15 505-7919<br />
          </address>
        </div>
        <div class="span5">
          <address>
            <strong>POSADAS</strong>&nbsp;&nbsp;25 de Mayo 1730&nbsp;-&nbsp;(0376) 154684-606<br />
            <strong>RÍO CUARTO</strong>&nbsp;&nbsp;Buenos Aires 236, PB&nbsp;-&nbsp;(0358) 421-0360<br />
            <strong>ROSARIO</strong>&nbsp;&nbsp;(0341) - 153758062<br />
            <strong>SALTA</strong>&nbsp;&nbsp;Pasaje Sargento Cabral 946, Dpto 2&nbsp;-&nbsp;(0387) 15 588-2469<br />
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>