<!-- Docs nav
================================================== -->
<ul class="nav nav-list bs-docs-sidenav">
  <li class="<%= 'active' if request.path_info == '/' %>">
    <a href="/"><i class="icon-chevron-right"></i>
    <i class="icon-home"></i> Inicio</a>
  </li>
  <li class="<%= 'active' if request.path_info == '/content/mapa-de-barrios' %>">
    <a href="/content/mapa-de-barrios"><i class="icon-chevron-right"></i>
    <i class="icon-globe"></i> Mapa de Barrios</a>
  </li>
  <li class="<%= 'active' if request.path_info == '/content/tabla-de-barrios' %>">
    <a href="/content/tabla-de-barrios"><i class="icon-chevron-right"></i>
    <i class="icon-list-alt"></i> Tabla de Barrios</a></li>
</ul>
