<!-- Contacto
================================================== -->
<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span4">
			<p><strong>Nuestros datos:</strong></p>
			<p>Oficina Nacional</p>
			<p>Entre R&iacute;os 258, 2D, Capital Federal, Buenos Aires</p>
			<p>Teléfono: (+5411) 4519-8349 / 5811-4296</p>
			<p>Email: <a href="mailto:info.argentina@techo.org">info.argentina@techo.org</a></p>

			<form id="contact-form" class="form-horizontal" action="/content/contact" method="post">
			<fieldset>
			  <legend>Dejenos su mensaje o pregunta aqui:
				<small>&nbsp;&nbsp;<span class="required">*</span>&nbsp;Obligatorio</small>
			  </legend>
				<div class="control-group">
				  <label class="control-label" for="first_name">Nombre&nbsp;<span class="required">*</span></label>
				  <div class="controls">
					<input type="text" class="input-xlarge" name="first_name" id="first_name">
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label" for="last_name">Apellido&nbsp;<span class="required">*</span></label>
				  <div class="controls">
					<input type="text" class="input-xlarge" name="last_name" id="last_name">
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label" for="email">Email&nbsp;<span class="required">*</span></label>
				  <div class="controls">
					<input type="text" class="input-xlarge" name="email" id="email">
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label" for="message">Mensaje&nbsp;<span class="required">*</span></label>
				  <div class="controls">
					<textarea class="input-xlarge" name="message" id="message" rows="6"></textarea>
				  </div>
				</div>

<!-- 
				<div class="control-group">
			      <label class="control-label" for="captcha">Ingresa el código&nbsp;<span class="required">*</span></label>
				  <div class="controls">
				    <input type="text" class="input-xlarge" id="captcha" name="captcha"></p>
				  </div>
				</div>
 -->

<!-- 
				<div class="control-group">
			      <label class="control-label" for="captcha">Ingresa el código&nbsp;<span class="required">*</span></label>
				  <div class="controls">
				    <img id="captcha-img" style="margin-bottom:5px;" src="http://www.EasyCaptchas.com/1234.captcha" />
					<a id="refresh-captcha" title="Renovar c&oacute;digo" href="#">Renovar c&oacute;digo</a><br>
					<input type="text" class="input-xlarge" name="captcha" />
				  </div>
				</div>
 -->


<!-- Free Captcha provided courtesy of www.EasyCaptchas.com (please do not remove this link) -->
<!-- <noscript><a href="http://easycaptchas.com/" onclick="return false;" style="display:none">Captcha</a></noscript> -->
		
				<div class="form-actions">
				  <button type="submit" class="btn btn-primary">Enviar</button>
				  <button type="reset" class="btn">Reajustar</button>
				</div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
/** Handling form input. */
$(document).ready(function() {
	$.mockjax({
		url: "valcaptcha",
		response: function() {
			this.responseText = "false";
		},
		responseTime: 500
	});

	$('#contact-form').validate({
		rules: {
			first_name: { minlength: 2, required: true },
			last_name: { minlength: 2, required: true },
			email: { required: true, email: true },
			message: { minlength: 2, required: true },
			captcha: { required: true, remote: "valcaptcha" }
		},
		messages: {
			captcha: "Se requiere código correcto. Haga clic antes para renovarlo."	
		},
		highlight: function(element) {
			$(element).closest('.control-group').removeClass('success').addClass('error');
		},
		success: function(element) {
			$(element).closest('.control-group').removeClass('error').addClass('success');
		}
	});

	$.extend($.validator.messages, {
		required: "Este campo es obligatorio.",
		remote: "Por favor, rellena este campo.",
		email: "Por favor, escribe una dirección de correo válida",
		url: "Por favor, escribe una URL válida.",
		date: "Por favor, escribe una fecha válida.",
		dateISO: "Por favor, escribe una fecha (ISO) válida.",
		number: "Por favor, escribe un número entero válido.",
		digits: "Por favor, escribe sólo dígitos.",
		creditcard: "Por favor, escribe un número de tarjeta válido.",
		equalTo: "Por favor, escribe el mismo valor de nuevo.",
		accept: "Por favor, escribe un valor con una extensión aceptada.",
		maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
		minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
		rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
		range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
		max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
		min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
	});

	$('#refresh-captcha').click(function() {
		$('#captcha-img').attr('src', "http://www.EasyCaptchas.com/1234.captcha&rf=1");
		alert("refresh-captcha()");
		return false; 
	});
	
// // 					<a href="http://easycaptchas.com/" onclick="document.getElementById('captcha-img').src+='&rf=1';return false;" style="font-size:11px">Renovar código</a><br />

// 	$('#captcha').realperson({regenerate: 'Renovar código de seguridad' });

}); // end $(document).ready(function()
</script>