<!-- faqs
================================================== -->
<div class="container">
	<div class="row">
		<div class="span8">
		<section>
		<div id="faqtext">
            <div class="default-caption">FAQs</div>

            <div class="title">
            	<div>¿Qué es el Relevamiento de asentamientos informales?<br><br></div>
            	<br style="clear: both;" />
            </div>
            <div>
            	<p>
            	El Relevamiento de asentamientos informales es un proyecto del 
            	Centro de Investigación Social de TECHO que busca caracterizar 
            	y georreferenciar los asentamientos informales, considerando 
            	como ejes el acceso a la titularidad del suelo y los servicios 
            	básicos, con el objetivo de tener una aproximación, actualizada 
            	cada dos años, que permita comprender y visibilizar la evolución 
            	de la problemática y contribuir al monitoreo, revisión y diseño 
            	de las políticas públicas vinculadas al acceso al hábitat adecuado 
            	para miles de familias que viven en la informalidad y la 
            	segregación urbana.
            	</p>
            </div>

            <div class="title">
            	<div>¿Qué territorio abarcó el relevamiento en 2013?<br><br></div>
            	<br style="clear: both;" />
            </div>
            <div>
            	<ul style="font-family: DinLightAlter, Helvetica, Arial, sans-serif; 
            				color: #8b8b8b; font-size: 14px; line-height: 20px;">
				<li>Ciudad Autónoma de Buenos Aires</li>
				<li>Provincia de Buenos Aires</li>
				<li>Provincia de Córdoba</li>
				<li>Cuatro ciudades de la Provincia de Salta (Capital, Rosario, Orán y Tartagal)</li>
				<li>Alto Valle de Río Negro-Neuquén</li>
				<li>Gran Rosario (Provincia de Santa Fé)</li>
				<li>Departamento Capital de Misiones (Posadas, Garupá y Fachinal)</li>
            	</ul>				
            	<p>
				Este es el territorio en donde habita más del 60% de la población del país.
            	</p>
            </div>

            <div class="title">
            	<div>¿Cómo fueron identificados los asentamientos informales?<br><br></div>
            	<br style="clear: both;" />
            </div>
            <div>
            	<p>
            	Plantearse como objetivo poder relevar el territorio en donde vive más 
            	del 60% de la población del país en búsqueda de asentamientos informales, 
            	es una tarea ardua y compleja. Por tal motivo, se optó por una estrategia 
            	colectiva y colaborativa, que implicó la participación e involucramiento 
            	de organizaciones de la sociedad civil, organismos estatales, 
            	organizaciones territoriales, universidades, y principalmente cientos de 
            	voluntarios y vecinos referentes de cada uno de los asentamientos informales.
            	</p>
            	<p>
				Esta modalidad de trabajo nos permitió recorrer y relevar todo el territorio, 
				municipio por municipio y barrio por barrio, contando con el apoyo y la 
				participación directa de los más diversos actores locales.
            	</p>
            </div>

            <div class="title">
            	<div>¿Cómo se obtuvo la información?<br><br></div>
            	<br style="clear: both;" />
            </div>
            <div>
            	<p>
            	Mediante la aplicación de una ficha, fueron los referentes de los 
            	barrios quienes nos brindaron la información. Un referente puede ser: 
            	el vecino más antiguo del barrio, el líder barrial, un miembro de la 
            	comisión vecinal, quien lleve adelante un comedor o centro comunitario, 
            	un promotor de salud, etc.
            	</p>
            	<p>
				Sin duda, aquellos referentes barriales que fueron entrevistados son 
				los principales protagonistas del proyecto, y es su voz y el conocimiento 
				de sus comunidades, la que intentamos plasmar en el presente informe.
            	</p>
            </div>

            <div class="title">
            	<div>¿Qué opinión tiene TECHO sobre las tomas de tierras?<br><br></div>
            	<br style="clear: both;" />
            </div>
            <div>
            	<p>
            	TECHO no avala ni fomenta la toma social ni los asentamientos 
            	informales, sino que reacciona ante ellos. Los asentamientos 
            	informales son un problema que surge a partir de la urgencia 
            	habitacional, y la desigualdad en el acceso justo a la ciudad, 
            	que afecta a miles de familias en nuestro país.
				La usurpación es un acto clandestino y violento, condenado por 
				la ley porque significa apoderar de un bien o derecho ajeno; 
				la toma social de terrenos fiscales ociosos que da lugar al 
				asentamiento informal es pública y pacífica –allí trabaja  TECHO -
            	</p>
            </div>

            <div class="title">
            	<div>A partir de la problemática que se describe en este estudio<br><br></div>
            	<br style="clear: both;" />
            </div>
            <div class="title">
            	<div>¿Cual es la propuesta de TECHO?<br><br></div>
            	<br style="clear: both;" />
            </div>
            <div>
            	<p>
				TECHO busca y ha buscado siempre una denuncia propositiva. Por eso 
				es que en 2013 no solo queremos mostrar el problema, también presentamos 
				propuestas que consideramos son parte de la solución. Estamos dispuestos 
				a articular en pos de generar información y proyectos de incidencia en 
				políticas públicas.
				</p>
				<p>
				TECHO es miembro de la Red Habitar Argentina, que diseña y promueve 
				proyectos de Ley que responden directamente a la problemática planteada.				
				</p>
				<a target="_blank" href="http://habitarargentina.blogspot.com.ar/p/proyectos-de-ley.html">
				http://habitarargentina.blogspot.com.ar/p/proyectos-de-ley.html</a>
            </div>


		</div> <!-- end faqtext -->
		<br style="clear: both;" />
		</section>




		</div>
	</div>
</div>

<script type="text/javascript">
/** Handling form input. */
$(document).ready(function() {
	// Show notification "Estamos en beta".
	show_beta_notice();

}); // end $(document).ready(function()
</script>


