<!-- faq
================================================== -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
		<h3><strong>preguntas frecuentes por ac&aacute;...</strong></h3>
	</div>
</div>

