<!-- Mapa de Barrios
================================================== -->
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <p class="lead">
          <span id="info_text_escala" style="font-size: 80%;"></span>
        </p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <!-- Alert message box -->
        <div class="span8">
          <div id ="alert_placeholder"></div>
        </div>

        <div class="span4">
          <div id ="info_text_charts" style="font-size: 90%;"></div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <!-- Map container -->
        <div id="map_canvas" style="height: 620px; margin: 0px; border: 1px solid #ccc;">
        </div>
      </div>

      <div class="span4" style="margin: 0px;">
        <!-- Chart container -->
        <div style="height: 180px; margin: 0px; border: 0px solid #ccc;">
          <ul class="breadcrumb" style="padding: 2px 15px;">
            <li style="font-size: 75%;">Cuenta con <strong><em>desag&uuml;es cloacales</em></strong>:</li>
          </ul>
          <div id="sewage_chart_div"></div>
        </div>

        <!-- Chart container -->
        <div style="height: 180px; margin: 0px; border: 0px solid #ccc;">
          <ul class="breadcrumb" style="padding: 2px 15px;">
            <li style="font-size: 75%;">Acceso al <strong><em>agua potable</em></strong> a trav&eacute;s de la red p&uacute;blica:</li>
          </ul>
        <div id="water_chart_div"></div>
      </div>

        <!-- Chart container -->
        <div style="height: 180px; margin: 0px; border: 0px solid #ccc;">
          <ul class="breadcrumb" style="padding: 2px 15px;">
            <li style="font-size: 75%;">Conexi&oacute;n regular al <strong><em>sistema el&eacute;ctrico</em></strong>:</li>
          </ul>
          <div id="electrical_chart_div"></div>
        </div>

        <!-- Chart container -->
        <div style="height: 180px; margin: 0px; border: 0px solid #ccc;">
          <ul class="breadcrumb" style="padding: 2px 15px;">
            <li style="font-size: 75%;">Acceso a la <strong><em>red de gas</em></strong>:</li>
          </ul>
        <div id="gas_chart_div"></div>
      </div>
    </div>

</div><!-- end container-fluid -->
<script type="text/javascript">
  // Set a callback to run when the Google Visualization library is loaded.
  google.setOnLoadCallback(initMapBarriosPage);
</script>