<!-- Mapa de Barrios - Test Prototipo
================================================== -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>Mapa de Barrios</h2>
      <p class="lead"><strong><span style="color: #0092dd">en el Gran Buenos Aires</span></strong></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
    <div id="map_canvas" style="height: 700px; width: 1050px; margin: 0px"></div>
  </div>
</div>
<script>
  window.onload = function() { initializeBarriosBsAsMap(); };
</script>