<!-- Mapa de Barrios
============================================================ -->
<div class="container-fluid">
	<div class="row-fluid">
    	<!-- Selections container - control panel -->
    	<div id="selector" class="control-panel">
    		<span id="reset-contro-panel-pos"><a href="#"><i id="icon-reply" class="icon-reply icon"></i></a></span>
    		<span><a href="#"><i id="icon-move" class="icon-move icon"></i></a></span>

			<!-- Year -->    	
    		<div class="sel_year">
				<ul class="nav nav-pills sel-year-space-reducer">
<!--   					<li id="2011"><a href="#" >2011</a></li> -->
<!--  					<li id="2013"><a href="#">2013</a></li> -->
				</ul>
			</div>

			<!-- Methodology and information for download -->
    		<div class="methodology_and_information">
				<ul class="breadcrumb information-space-reducer">
 					<li id="2013"><a href="#">2013</a>&nbsp;&nbsp;</li>
  					<li id="methodology">
  						<a href="#">Metodolog&iacute;a&nbsp;</a><span class="divider">|</span>
  					</li>  
  					<li id="information">
  						<a href="#">Informe&nbsp;<i id="download_icon" 
  							class="icon-download-alt icon"></i>
  						</a>
  					</li>  
				</ul>
			</div>

        	<!-- Territory search -->
			<div>
				<span><i id="territory_icon" class="icon-globe icon"></i>&nbsp;territorio</span>			
		    	<p><input type="hidden" id="sel_terri" style="width:300px"/></p>
			</div>

			<!-- Territory / Mini map -->
	    	<div id="mini_canvas_container">
      			<div id="mini_map_canvas"></div>
    		</div>

      		<form id="form_muni_barrio_search">
				<!-- Municipio/Localidad Search -->
        		<fieldset>
          		<label id="search_part_txt_label"></label>
          		<div class="input-append">
            		<input class="span10" id="search_part_txt" size="10" type="text" 
                    	placeholder="ingresa el nombre y pulse enter..." 
                    	onfocus="clearThis(this)">
            		<button class="btn disabled" id="clear_search_part_txt" 
                    	type="button" 
                    	rel="tooltip" title="Eliminar selecci&oacute;n" 
                    	onclick="removeAllPartidoSelections()" 
                    	onmouseover="techoBtnOnMouseOver(this)" 
                    	onmouseout="techoBtnOnMouseOut(this)">
                    	<i class="icon-remove"></i>
            		</button>
          		</div>
        		</fieldset>

        		<!-- Barrio Search -->
        		<fieldset>
          		<label><i class="icon-map-marker"></i>&nbsp;villa o asentamiento</label>
          		<div class="input-append">
            		<input class="span10" id="search_barrio_txt" size="10" type="text" 
                    	placeholder="ingresa el nombre y pulse enter..." 
                    	onfocus="clearThis(this)">
            		<button class="btn disabled" id="clear_search_barrio_txt" 
                    	type="button" 
                    	rel="tooltip" title="Eliminar selecci&oacute;n" 
                    	onclick="removeAllBarrioSelections()" 
                    	onmouseover="techoBtnOnMouseOver(this)" 
                    	onmouseout="techoBtnOnMouseOut(this)">
                    	<i class="icon-remove"></i>
            		</button>
          		</div>
         		</fieldset>
      		</form>

      		<!-- Barrio Info -->
<!-- 			<div id="flip_barrio" class="btn btn-block"> -->
			<div id="flip_barrio">
				<span id="barrio_id"></span>
<!-- 				</br> -->
				&nbsp;<i id="flip_barrio_icon" class="icon-caret-down icon"></i>
			</div>
			<div id="panel_barrio">
				<ul class="nav nav-tabs" id="barrio_tabs">
  					<li><a href="#barrio_general">General</a></li>
					<li><a href="#barrio_servicios">Servicios</a></li>		
				</ul>

				<!-- Tab content -->
				<div class="tab-content">
					<div class="tab-pane" id="barrio_general">
        				<span>
							<img id="img-barrio" src="/images_barrios/barrio_dummy.jpg" class="img-polaroid img-barrio"/>
		  				</span>
        				<dl class="dl-horizontal" style="font-size: 80%; margin-left:-20px;">
          				<dt>Otro denominaci&oacute;n:</dt><dd id="other_name_barrio_id">-</dd>
          				<dt>Municipio:</dt><dd id="partido_id">-</dd>
          				<dt>Localidad:</dt><dd id="localidad_id">-</dd>
          				<dt>Cantidad de Familias:</dt><dd id="families_id">-</dd>
          				<dt>A&ntilde;o de inicio:</dt><dd id="start_year_id">-</dd>
          				<dt></dt><dd>&nbsp;</dd>
        				</dl>
					</div>

					<div class="tab-pane" id="barrio_servicios">
        				<dl class="dl-horizontal" 
        					style="font-size: 80%; margin-left:-20px; margin-top: 0;">
          				<span style="font-size:110%; margin-left:70px;">
            				Situaci&oacute;n de los Servicios B&aacute;sicos:
          				</span>
          				<dt>&nbsp;Desag&uuml;es cloacales:</dt><dd id="sewage_id">-</dd>
          				<dt>&nbsp;Agua potable:</dt><dd id="water_id">-</dd>
          				<dt>&nbsp;Sistema el&eacute;ctrico:</dt><dd id="electrical_id">-</dd>
          				<dt>&nbsp;Red de gas:</dt><dd id="gas_id">-</dd>
          				<dt>Desag&uuml;es pluviales:</dt><dd id="drains_id">-</dd>
          				<dt>Alumbrado p&uacute;blico:</dt><dd id="street_lighting_id">-</dd>
          				<dt>Recolecci&oacute;n de residuos:</dt><dd id="waste_collection_id">-</dd>
          				<dt></dt><dd>&nbsp;</dd>
        				</dl>
					</div>
				</div> <!-- end tab-content -->
			</div> <!-- end panel_barrio -->
    	</div> <!-- end selector - control-panel -->

    	<!-- Info text container -->
    	<div id="info_text_container">
      		<span id="info_text_reporting_level" style="font-size: 90%;"></span>
    	</div>

    	<!-- Map container -->
    	<div id="canvas_container">
      		<div id="map_canvas"></div>
    	</div>

    	<!-- Chart container -->
    	<div id="chart_container" class="slide-out-div">
    		<a id="slide-out-handle" class="slide-out-handle" href="#"></a>
<!--     		<a class="handle" href="http://link-for-non-js-users.html">Content</a> -->
      		<div id ="info_text_charts"></div>

			<!-- Sewage -->
      		<div class="chart-default">
        		<ul class="breadcrumb" style="padding: 2px 15px; margin: 1px;">
          		<li style="font-size: 75%;">Cuenta con <strong><em>desag&uuml;es cloacales</em></strong>:</li>
        		</ul>
        		<div id="sewage_chart_div"></div>
      		</div>

			<!-- Water -->
      		<div class="chart-default">
        		<ul class="breadcrumb" style="padding: 2px 15px; margin: 1px;">
          		<li style="font-size: 75%;">Acceso al <strong><em>agua potable</em></strong> a trav&eacute;s de la red p&uacute;blica:</li>
        		</ul>
        		<div id="water_chart_div"></div>
      		</div>

			<!-- Electrical -->
      		<div class="chart-default">
        		<ul class="breadcrumb" style="padding: 2px 15px; margin: 1px;">
          		<li style="font-size: 75%;">Conexi&oacute;n regular al <strong><em>sistema el&eacute;ctrico</em></strong>:</li>
        		</ul>
        		<div id="electrical_chart_div"></div>
      		</div>

			<!-- Gas -->
      		<div class="chart-default">
        		<ul class="breadcrumb" style="padding: 2px 15px; margin: 1px;">
          		<li style="font-size: 75%;">Acceso a la <strong><em>red de gas</em></strong>:</li>
        		</ul>
      		<div id="gas_chart_div"></div>
    	</div> <!-- end chart_container -->
	</div> <!-- row-fluid -->
</div><!-- container-fluid -->

<script type="text/javascript">
/**
 * Handling GUI elements.
 */
 
 	// At present we have not cookies included.
 	
	// Cookie Check...
//   	if (!supportsCookies()) { 
//   		alert ("Por favor habilite las cookies en su navegador\n" + 
//   				"o actualice a uno que las permita.\n" + 
//   				"La aplicación no puede funcionar correctamente");

//   	}

	$(document).ready(function() {

//**************************************************************
// Init
//**************************************************************

		$( ".control-panel" ).draggable({
		//	drag: position,
			cursor: "move"
		});

		function format(item) { return item.text; };
		
		// Init/Set selected year as active on screen.
		$('.sel_year ul.nav-pills li[id="'+ Session.get("sel_year") +'"]').addClass('active');
		// Set year specific methodology text.	
		$('#methodology').attr('data-target', '#methodology-modal-' + Session.get("sel_year"));
		// Set year specific information text.	
		$('#information').attr('data-target', '#information-modal-' + Session.get("sel_year"));

		function set_modal(id) {
			$(id).modal({keyboard: false});
		}
		
		// Get all territories which are available in selected year.
		function get_territories() {
			var sel_year = Session.get("sel_year");
			
			var filtered_territories = territories.filter(function(elem) {
				return elem.year == sel_year;
			});
			
			// Sort territories texts ascending.
			filtered_territories.sort(function(a, b){
 				var textA = a.text.toLowerCase(), textB = b.text.toLowerCase()
 				if (textA < textB) return -1
 				if (textA > textB)return 1
 				return 0 //default return value (no sorting)
			});

			return filtered_territories;	
		}

		// Init select/search box territory selection.
		$('#sel_terri').select2( {
			placeholder: placeholder,
			allowClear: true,
			data: get_territories(),
 		});
		var current_datasource = Session.get("current_datasource");
		$('#sel_terri').select2('val', current_datasource.key);

  		// Init barrio tabs to first tab.
		$(function () {
    		$('#barrio_tabs a:first').tab('show');
  		});

		// Init dropdowns.
		$('.dropdown-toggle').dropdown();

		// Tab slide out for graphics panel.
		// Attention! Source in lib\tabslideout\jquery.tabSlideOut.v1.3.js was modified.
		// Do not change it to another version without verification before!
        $('.slide-out-div').tabSlideOut({
            tabHandle: '.slide-out-handle',	//class of the element that will become your tab
//          pathToTabImage: '/images/charts_tab_white.gif', //Optionally can be set using css
            imageHeight: '83px',	//height of tab image //Optionally can be set using css
            imageWidth: '40px',     //width of tab image  //Optionally can be set using css
            tabLocation: 'right',   //side of screen where tab lives, top, right, bottom, or left
            speed: 250,             //speed of animation - smaller value means faster.
            action: 'click',        //options: 'click' or 'hover', action to trigger animation
            topPos: '50px',         //position from the top/ use if tabLocation is left or right
            leftPos: '100px',       //position from left/ use if tabLocation is bottom or top
            fixedPosition: true     //options: true makes it stick(fixed position) on scroll
        	});
        // Slide out initially.
		$('.slide-out-handle').click();

//**************************************************************
// Event handling
//**************************************************************

		// Get selected year for session object and show it as active on screen.
		$('.sel_year ul.nav-pills li a').click(function (e) {
  			e.preventDefault();
			$('ul.nav-pills li.active').removeClass('active');
  			$(this).parent('li').addClass('active');
    		Session.set("sel_year", $(this).text());

			// Set year specific methodology text.	
			$('#methodology').attr('data-target', '#methodology-modal-' + Session.get("sel_year"));
			// Set year specific information text.	
			$('#information').attr('data-target', '#information-modal-' + Session.get("sel_year"));
			
			// Set new datasource.
			// First we have to check if a datasource for selected new year also exits.
			// If so, we take this one. If not we have to use the default datasource.
			var current_datasource = Session.get("current_datasource");
			var datasource_key = current_datasource.key;
			var last_underscore_idx = datasource_key.lastIndexOf('_');
			var new_datasource_key = datasource_key.substr(0, last_underscore_idx) + 
									'_' + Session.get("sel_year");

  			// Check, if key also exists in associative datasource array.
  			if(!datasources.table.hasOwnProperty(new_datasource_key)) {
				setViewToDatasource('buenos_aires_' + Session.get("sel_year")); // default
  			}
  			else {
  				setViewToDatasource(new_datasource_key);
  			}

			var filtered_territories = get_territories();
			// Set territory selection.
			$('#sel_terri').select2( {
				placeholder: placeholder,
				allowClear: true,
				data: filtered_territories,
// 				initSelection: function(item, callback) {
//   					var to_be_selected = null;
//   					$.each(filtered_territories, function(index, sel_terri) {
//     					if (sel_terri.id == item.val()) {
//       						to_be_selected = sel_terri;
//       						return;
//     					}
//   					})
//   					callback(to_be_selected);
// 				}            	
			});
			current_datasource = Session.get("current_datasource");
			$('#sel_terri').select2('val', current_datasource.key);
			

			// Clear municipio and barrio search fields.
			removeAllPartidoSelections();
		});

		// Prevents the event object of selector from moving on to the next node.
		$('#selector').on("click", function(e) { 
			e.stopPropagation();
		});

		// Show methodology information in a modal window.
		$('#methodology').on("click", function(e) { 
			set_modal('#methodology-modal-' + Session.get("sel_year"));
 			e.stopImmediatePropagation(); // Prevents every event from running.
        	e.preventDefault();
		});

		// Show methodology information in a modal window.
		$('#information').on("click", function(e) { 
			set_modal('#information-modal-' + Session.get("sel_year"));
 			e.stopImmediatePropagation(); // Prevents every event from running.
        	e.preventDefault();
		});

		// Prevent any parent handlers from being executed when modal is closed.
		// In this case it prevents chart slider from being closed.  
		$('.modal').on("click", function(e) {
 			e.stopPropagation();
		});

		// Repositioning control panel.
		$('#reset-contro-panel-pos').click(function (e) {
  			e.preventDefault();
			$("#selector").css({ left: "90px", top: "50px", position: "absolute" });
 		});	
 
		// Get selected territory and set new datasource.
		$("#sel_terri").on("change", function(e) { 
  			e.preventDefault();
			if (e.val) {
				setViewToDatasource(e.val);
				// Clear municipio and barrio search fields.
				removeAllPartidoSelections();				
			}
			return false;
		});

		// Expand/Collapse barrio information.
  		$("#flip_barrio").click(function(e) {
  			e.preventDefault();
    		$("#panel_barrio").slideToggle('1400');
			// "Flip flop" icon view (expand/collapse)    	
			var icon = $("#flip_barrio_icon").attr('class') == "icon-caret-down icon" ? "icon-caret-up icon" : "icon-caret-down icon";
			$("#flip_barrio_icon").attr('class', icon);
        	$('#barrio_tabs a:first').tab('show');
        	return false;
  		});

		// Show selected barrio tab.
		$('#barrio_tabs a').click(function (e) {
  			e.preventDefault();
  			$(this).tab('show');
			return false;
		});	

		// >> All functions below to prevent tab slide out from close.
		// This is an ugly solution. Perhaps a better will be found.
		$("#search_part_txt").on("click", function(e) { 
  			e.preventDefault();
  			return false;
		});

		$("#clear_search_part_txt").on("click", function(e) { 
  			e.preventDefault();
  			return false;
		});

		$("#search_barrio_txt").on("click", function(e) { 
  			e.preventDefault();
  			return false;
		});

		$("#clear_search_barrio_txt").on("click", function(e) { 
  			e.preventDefault();
  			return false;
		});

		$("#info_text_container").on("click", function(e) { 
  			e.preventDefault();
  			return false;
		});

		$("#map_canvas").on("click", function(e) { 
  			e.preventDefault();
  			return false;
		});
		
		$("#sel_terri").on("click", function(e) { 
  			e.preventDefault();
  			return false;
		});

		$('#barrio_general').click(function (e) {
  			e.preventDefault();
			return false;
		});	

		$('#barrio_servicios').click(function (e) {
  			e.preventDefault();
			return false;
		});	

		$('#mini_map_canvas').click(function (e) {
  			e.preventDefault();
			$(".control-panel").draggable('disable');
			return false;
		});

		$('#mini_map_canvas').mouseleave(function (e) {
  			e.preventDefault();
			$(".control-panel").draggable('enable');
			return false;
		});

		$('#mini_map_canvas').mousemove(function (e) {
 			e.preventDefault();
			$(".control-panel").draggable('disable');
			return false;
		});
		// <<< end prevent tab slide out from close.

	}); // end $(document).ready(function()

	// Set a callback to run when the Google Visualization library is loaded.
	google.setOnLoadCallback(initMapBarriosPage);

  	// Issue: Google Map not showing (only gray) when in a Bootstrap container-fluid!
  	// Workaround: In order to avoid adding of a fixed value for height via CSS,
  	// we use a callback, see below.  
  	// Callback that will manually set the height and width of the map when the window is
  	// resized. 
  	$(window).resize(function () {
    	var h = $(window).height();
    	var w = $(window).width();
        var offsetTop = 50; // Calculate the top offset

    	$('#map_canvas').css('height', (h - offsetTop));
    	$('#map_canvas').css('width', w);
  	}).resize();
</script>