<!-- Metodología
================================================== -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="lead" id="techo_style">
      <strong>Metodología 2011</strong>
      </h3>
      <div class="row-fluid">
        <div class="span6">          
          <p>
			<h4 id="techo_style">DISEÑO METODOLÓGICO METODOLOGÍA UTILIZADA</h4>
			El presente estudio asumió como objetivo central determinar el universo de 
			urbanizaciones informales (tanto villas como asentamientos) existentes a la 
			fecha (mayo 2011) en los 30 partidos del Aglomerado del Gran Buenos Aires, 
			y en la Provincia de Córdoba, relevando las características socio-urbanas de 
			las villas y los asentamientos así como su localización geográfica. 
			Para responder a este desafío se optó por una estrategia metodológica 
			cuantitativa ya que en la actualidad se carece de cifras actualizadas que 
			nos permitan establecer con precisión la magnitud y el crecimiento del fenómeno 
			estudiado. En este sentido una aproximación cuantitativa al problema nos 
			permitió relevar la cantidad de villas y asentamientos, sus características 
			principales y su localización geográfica. La elaboración estadística de los 
			datos y su análisis nos permitió presentar además una fotografía de la realidad 
			de las urbanizaciones informales en la actualidad sin desconocer el carácter 
			dinámico del fenómeno abordado.
			</br>
			</br>
          </p>
          <p>
			<h4 id="techo_style">UNIDAD DE ANÁLISIS</h4>
			La unidad de análisis de la presente investigación son las villas y los 
			asentamientos pertenecientes a la Región del Gran Buenos Aires y la Provincia 
			de Córdoba. Estos son definidos por Un Techo para mi País Argentina como un 
			conjunto de un mínimo de 8 familias agrupadas o contiguas, que no cuenten con 
			acceso regular a al menos uno de los servicios básicos (agua potable, luz 
			eléctrica y alcantarillado público) y que se encuentren en una situación 
			irregular de tenencia del terreno.
			</br>
			</br>
          </p>
          <p>
			<h4 id="techo_style">INSTRUMENTO DE RECOLECCIÓN DE DATOS</h4>
			<p>
			Para abordar el fenómeno bajo estudio utilizamos “procedimientos estandarizados 
			de interrogación con el fin de obtener mediciones cuantitativas de una gran 
			variedad de características objetivas” de las villas y los asentamientos 
			(García Ferrando; 1994:147).
			</p>
			<p>			
			En este sentido, el instrumento de recolección de datos elaborado consistió 
			en la implementación de una encuesta. A la hora de construir el cuestionario 
			estaba la necesidad de elaborar una herramienta de recolección de datos que 
			permitiera recoger la máxima cantidad de información sobre las urbanizaciones 
			informales, pero que a su vez fuera fácil de aplicar, presentara buenos 
			estándares de confiabilidad y validez; y se adecuara a nuestras posibilidades. 
			En ese sentido, la entrevista estandarizada por medio de un cuestionario nos 
			permitió comparar las respuestas dadas a la misma pregunta por los referentes 
			seleccionados de cada una de las villas y asentamientos, así como también 
			cuantificar los resultados.
			</p>
			<p>
			A fin de consolidar la herramienta de recolección de datos se realizó un 
			pre-test del cuestionario donde el instrumento se aprobó definitivamente. 
			Para ello se llevaron a cabo las correspondientes entrevistas con la versión 
			inicial del cuestionario. Los resultados obtenidos nos permitieron recalibrar 
			y ajustar el instrumento, a partir de la revisión de algunas de las preguntas 
			e incluso de la secuencia de temas. Luego de realizada la prueba piloto se 
			procedió a editar la versión definitiva del cuestionario.
			</p>
			<p>
			Una vez consolidado el cuestionario éste se aplicó, en cada una de las villas 
			y los asentamientos a los referentes seleccionados. Para el proceso de 
			selección de los referentes se tomaron en cuenta las personas que nos pudieran 
			aportar los datos más precisos en lo que respecta a cada uno de los barrios 
			informales en particular. Los referentes elegidos fueron aquellos que pudieron 
			aportar datos sobre el proceso de conformación y desarrollo del barrio en el 
			tiempo, la propiedad de los terrenos y el acceso a los servicios públicos 
			domiciliarios, entre otros aspectos. En todos los casos se privilegiaron en el 
			proceso de selección a las personas que participaran de comisiones o juntas 
			vecinales u otras organizaciones propias de las villas y los asentamientos. 
			La duración promedio de la aplicación del cuestionario fue de aproximadamente 
			1 hora.
			</p>
			<p>
			Cabe destacar que la implementación de la encuesta fue llevada a cabo por 600 
			voluntarios coordinados por un equipo de profesionales.
			</p>
			<p>
			Todos los voluntarios fueron capacitados para realizar dicha tarea. Para tal 
			fin se elaboró un manual de aplicación del instrumento de recolección de datos 
			el cuál se constituyó como un insumo relevante en la etapa de capacitación al 
			brindar un conjunto de recomendaciones respecto a las instrucciones específicas 
			de llenado del cuestionario.
			</p>
			<p>
			A través de esta medida se buscó garantizar la correcta administración de las 
			preguntas.			
			</p>
			<p>
			Los equipos conformados recorrieron cada una de las localidades con el objetivo 
			de identificar las villas y los asentamientos y sus respectivos referentes. 
			Para lograr el registro completo de las urbanizaciones informales de la Región 
			del Gran Buenos Aires, y la Provincia de Córdoba,  se visitó cada una de las 
			zonas a lo largo de un período de cuatro meses.
			</p>
          </p>          
<!-- 
          
          <div class="row-fluid">
            <div class="span6">
              <h5 class="lead">Ejemplo 1</h5>
              <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.      
              </p>
            </div>
            <div class="span6">
              <h5 class="lead">Ejemplo 2</h5>
              <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.      
              </p>
            </div>
          </div>
 -->
        </div>
        <div class="span6">
          <img data-src="holder.js/500x500" class="img-polaroid">
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript' 
  src="/lib/bootstrap/js/holder.js">
</script>
