<!-- methodology
================================================== -->
<div class="container">
<div class="row">
<div class="span8">

<h4><strong>Diseño  Metodológico</strong></h4>

<h5>METODOLOGÍA UTILIZADA</h5>
<p>
El presente estudio asume como objetivo central determinar el universo de asentamientos  informales existentes al primer semestre de 2013, en la provincia de Buenos Aires, la Ciudad Autónoma de Buenos Aires, la provincia de Córdoba, el Gran Rosario, el Alto Valle de Río Negro y Neuquén,  el departamento Capital de la provincia de Misiones y parte de la provincia de Salta (Orán, Rosario de la Frontera, Gran Salta y Tartagal), su localización geográfica y ciertas características socio-urbanas de los mismos.
</p>

<p>
Para responder a este desafío se opta por una estrategia metodológica cuantitativa ya que en la actualidad se carece de cifras que nos permitan establecer con precisión la magnitud y las características del fenómeno estudiado. En este sentido una aproximación cuantitativa al problema permite relevar la cantidad de asentamientos informales, su localización geográfica y sus características principales. La elaboración estadística de los datos y su análisis  permite presentar una “fotografía” de la realidad de los asentamientos informales sin desconocer el carácter dinámico del fenómeno.
</p>

<h5>UNIDAD DE ANÁLISIS</h5>
<p>
La unidad de análisis de la presente investigación es el asentamiento informal. TECHO   define conceptualmente los asentamientos informales como barrios informales que se constituyeron mediante distintas estrategias de ocupación del suelo, que presentan diferentes grados de precariedad y hacinamiento, un déficit en el acceso formal a los servicios básicos y una situación dominial irregular en la tenencia del suelo. Tres tipos de asentamientos informales con características propias se encuentran incluidos en este trabajo: villas, asentamientos y barrios populares informales.
</p>

<p>
Para aplicar esta definición conceptual en el terreno, TECHO trabaja con una definición operativa que permite delimitar claramente qué casos deben ser incluidos en el universo y cuáles a pesar de su informalidad deben ser excluidos. Según esta última, el asentamiento informal se define más estrechamente como un conjunto de un mínimo de ocho familias agrupadas o contiguas, en donde más de la mitad de la población no cuenta con título de propiedad del suelo, ni acceso regular a al menos dos de los servicios básicos: red de agua corriente, red de energía eléctrica con medidor domiciliario y/o red cloacal.
</p>

<h5>INSTRUMENTO DE RECOLECCIÓN DE DATOS</h5>
<p>
Para abordar el fenómeno bajo estudio TECHO utiliza “procedimientos estandarizados de interrogación con el fin de obtener mediciones cuantitativas de una gran variedad de características objetivas” de los asentamientos informales (García Ferrando; 1994:147). El instrumento de recolección de datos utilizado es una ficha semi-estructurada que releva las características socio-urbanas de los asentamientos informales así como su localización geográfica. Se buscó una herramienta  de recolección de datos que permitiera recoger la mayor cantidad de información sobre los asentamientos informales, y a su vez fuera fácil de aplicar, presentara buenos estándares de confiabilidad y validez, fuera acorde a todos los territorios relevados en el país; y se adecuara a nuestras posibilidades. En ese sentido, la entrevista estandarizada por medio de un cuestionario, permitió comparar las respuestas dadas a la misma pregunta por los referentes seleccionados de cada uno de los asentamientos informales, así como también cuantificar los resultados.
</p>

<p>
A fin de revisar y ajustar la herramienta de recolección de datos utilizada en 2011 se consultó con diversos expertos y se realizó un pre-test del cuestionario, donde el instrumento se aprobó definitivamente. Los  resultados obtenidos permitieron recalibrar y ajustar la nueva versión del instrumento, a partir de la revisión de algunas de las preguntas e incluso de la secuencia de temas. Luego de realizada la prueba piloto se procedió a editar la versión definitiva del cuestionario 2013.
</p>

<p>
Una vez consolidado el cuestionario éste se aplicó, en cada uno de los asentamientos,  a los referentes seleccionados. Para el proceso de selección de referentes se tomaron en cuenta las personas que pudieran aportar los datos más precisos sobre cada uno de los barrios informales, privilegiando a las personas que participaran de comisiones o juntas vecinales u otras organizaciones propias de los asentamientos informales, o en su defecto, a los vecinos de mayor antigüedad. La duración promedio de la aplicación del cuestionario fue de 1 hora.
</p>

<p>
La implementación de la encuesta fue llevada a cabo por 700 voluntarios coordinados por un equipo de profesionales y el Centro de Investigación Social de TECHO.  Dichos voluntarios fueron capacitados y los equipos de coordinadores tenían experiencia de trabajo en asentamientos, siendo la mayoría originarios o residentes de las zonas encuestadas.
</p>

</div>
</div>
</div>

