<!-- Success
================================================== -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
		<h4><strong>Mensaje enviado, muchas gracias.</strong></h4>
	</div>
</div>

