<!-- Tabla de Barrios - Test Prototipo
================================================== -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 bs-docs-sidebar">
      <h2>Tabla de Barrios</h2>
<!--       <p class="lead"><strong><span style="color: #0092dd">en el Gran Buenos Aires</span></strong></p>
 -->    </div>
  </div>

  <div class="well">

  <div class="row-fluid">
    <div class="span12">
<!--
      <form action="">
        Number of rows to show:
        <select onChange="setOption('pageSize', parseInt(this.value, 10))">
          <option value="15">15</option>
          <option selected=selected value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="-1">-1</option>
        </select>
      </form>
-->
      <div id="table_div" style="height: 650px; width: 1000px; margin: 0px; border: 1px solid #ccc;"></div>
    </div>
  </div>

  </div>

</div>
<script type="text/javascript">
    google.setOnLoadCallback(initTableBarriosPage);
</script>