<!-- Tabla de Barrios
================================================== -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
    	<p>
        <select style="width:250px" id="sel_terri">
<!--             <optgroup label="2013"> -->
                <option value="buenos_aires_2013">Buenos Aires</option>
                <option value="cordoba_2013">C&oacute;rdoba</option>
                <option value="salta_2013">Salta</option>
                <option value="rosario_2013">Rosario</option>
                <option value="rio_negro_neuquen_2013">R&iacute;o Negro y Neuqu&eacute;n</option>
                <option value="posadas_2013">Posadas</option>
<!--             </optgroup> -->
<!-- 
            <optgroup label="2011">
                <option value="buenos_aires_2011">Buenos Aires</option>
                <option value="cordoba_2011">C&oacute;rdoba</option>
            </optgroup>
 -->
        </select>
        </p>
        <h3 class="lead" id="techo_style">
      	<span id="header_table_barrios_page"></span>
      </h3>
    <p class="loading-msg"><span id="loading-msg-txt"></span></p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <table class="dataTable" id="table_container"></table>
    </div>
  </div>
</div>
<script type="text/javascript">

$(document).ready(function() {
	$('#sel_terri').select2( {
		placeholder: placeholder,
		allowClear: true
	});
	
	var current_datasource = Session.get("current_datasource");
	$('#sel_terri').select2('val', current_datasource.key);

	// Get selected territory and set new datasource.
	$("#sel_terri").on("change", function(e) { 
		if (e.val) {
			setCurrentDatasource(e.val);
 			// Refresh current page after changing datasource.
		 	window.location.reload(true);	
		}
	});
}); // end $(document).ready(function()

google.setOnLoadCallback(initTableBarriosPage);
</script>