    <div id='sidebar'>
      <h2>¿Qué estás viendo?</h2>
      <ul id='layers'>
        <li data-layer-name='barrios' class='barrios'>
          <header>
            <input type='checkbox' name='entity' value='barrios' checked> Barrios
            <a href='#filters-barrios' class='expand'></a>
          </header>
        </li>
      </ul>

      <div class='views'>
      	 <h2>¿Cómo lo estás viendo?</h2>
        <a href='#view=map' title='Vista de mapa' class='map active'><span></span></a><a href='#view=table' title='Vista de tabla' class='table'><span></span></a>
        <br /><span class="vista-mapa">Mapa</span><span class="vista-tabla">Tabla</span>
      </div>
    </div>

    <div id="main" role="main" class="fluid">
      <div id="table" style='display: none'>
        <table id='barrios-table' class='display'></table>
      </div>

      <div id="map"></div>
    </div>

    <script type='text/html' id='barrios-bubble-template'>
      <div class='bubble'>
        <header>Barrio</header>
        <h1><a href='/barrio/${id.value}'>${razon_social.value}</a></h1>
        <span>Click para ver detalle</span>
        <div class='chart' data-x='${semaforo_riesgo.value}' data-y='${semaforo_legal.value}'></div>

        <table class='info'>
          <!--tr>
            <td>CUIT</td>
            <td>${cuit.value}</td>
          </tr>

          <tr>
            <td>Personal de oficina</td>
            <td>${personal_oficina.value.toLowerCase()}</td>
          </tr>

          <tr>
            <td>Personal de fábrica</td>
            <td>${personal_fabrica.value.toLowerCase()}</td>
          </tr>

          <tr>
            <td>Superficie total</td>
            <td>${superficie_total.value.toLowerCase()} m²</td>
          </tr>

          <tr>
            <td>Superficie cubierta</td>
            <td>${superficie_cubierta.value.toLowerCase()} m²</td>
          </tr>

          <tr>
            <td>Consumo eléctrico</td>
            <td>${consumo_electricidad.value} HP</td>
          </tr-->

          <tr>
            <td>Actividades</td>
            <td>
              ${excerpt(actividad_1.value, 100)}
              <br>
              ${excerpt(actividad_2.value, 100)}
            </td>
          </tr>
          <tr>
            <td>Direcci&oacute;n</td>
            <td>
              ${calle.value} ${nro_calle.value}
              <br>
              ${localidad_real.value} - ${partido_real.value}
            </td>
          </tr>


        </table>
      </div>
    </script>

    <script>
      window.onload = function() { initializeMap(); };
    </script>
