<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 bs-docs-sidebar">
      <h2>Las villas y los asentamientos</h2>
      <p class="lead"><strong><span style="color: #0092dd">en el Gran Buenos Aires</span></strong></p>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5">
      <p class="lead">
      En la Región del Gran Buenos Aires hay en la actualidad <strong>864</strong> villas y asentamientos, en los que residen <strong>508.144</strong> 
      familias con un promedio de 604 familias por asentamiento.
      </p>
      <br />
      <span class="muted">Fuente: Catastro 2011 UTPMP</span>
      <br />
    </div>
    <div class="span7">
      <%=img("mapa_gran_bs_as1.gif")%>
    </div>
  </div>
</div>