<!doctype html>
<html lang="es" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='initial-scale=1.0, user-scalable=no'>
    <title><%= "#{@page_title} - " if @page_title %> TECHO | UN TECHO PARA MI PA&Iacute;S</title>

    <meta itemprop="name" content="Un techo para mi país">
    <meta itemprop="description" content="">

    <link href='/css/smoothness/jquery-ui-1.8.14.custom.css' rel='stylesheet'>
    <link href='/css/demo_table_jui.css' rel='stylesheet'>

    <!-- jQuery library 1.7.2 -->
    <script src="/lib/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>

    <!-- DataTables css and javascript library -->
    <link rel="stylesheet" type="text/css" 
    href="/lib/DataTables/media/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" 
      src="/lib/DataTables/media/js/jquery.dataTables.min.js">
    </script>

    <!-- DataTables - TableTools css and javascript library -->
    <link rel="stylesheet" type="text/css" 
    href="/lib/DataTables/extras/TableTools/media/css/TableTools.css">
    <script type="text/javascript" charset="utf8" 
      src="/lib/DataTables/extras/TableTools/media/js/TableTools.min.js">
    </script>

    <!-- DataTables - ZeroClipboard JavaScript -->
    <script type="text/javascript" charset="utf-8" 
      src="/lib/DataTables/extras/TableTools/media/js/ZeroClipboard.js">
    </script>

    <!-- DataTables - ColReorderWithResize JavaScript -->
    <script type="text/javascript" charset="utf8" 
      src="/lib/DataTables/extras/ColReorder/media/js/ColReorderWithResize.js">
    </script>

    <!-- DataTables - FixedColumns JavaScript -->
    <script type="text/javascript" charset="utf8" 
      src="/lib/DataTables/extras/FixedColumns/media/js/FixedColumns.min.js">
    </script>

    <!-- Bootstrap css and javascript library -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script type='text/javascript' 
    	src="/lib/bootstrap/js/bootstrap.min.js">
    </script>
    <script type='text/javascript' 
    	src="/lib/bootstrap/js/bootstrap-dropdown.js">
    </script>
    <script type='text/javascript' 
    	src="/lib/bootstrap/js/bootstrap-tab.js">
    </script>
    <script type='text/javascript' 
    	src="/lib/bootstrap/js/bootstrap-button.js">
    </script>
    <script type='text/javascript' 
    	src="/lib/bootstrap/js/bootstrap-tooltip.js">
    </script>
    <script type='text/javascript' 
    	src="/lib/bootstrap/js/bootstrap-popover.js">
    </script>

    <!-- Font Awesome css -->
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

    <!-- Select2 css and javascript library -->
	<link rel="stylesheet" href="/lib/select2/select2.css">
    <script type='text/javascript' src="/lib/select2/select2.js"></script>
    <script type='text/javascript' src="/lib/select2/select2_locale_es.js"></script>

	<!-- thenBy sort -->
    <script type='text/javascript' src="/lib/thenby/thenBy.js"></script>

	<!-- tabSlideOut -->
	<!-- Important note: Library (tabSlideOut.v1.3.js) was modifed !!!
			Do not change it to another version without verification before!	
	-->
    <script type='text/javascript' 
    	src="/lib/tabslideout/jquery.tabSlideOut.v1.3.js">
    </script>

    <!-- Google Maps and Places API -->
    <script type='text/javascript' 
    	src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js'>
    </script>

    <script type='text/javascript' 
    	src='http://maps.google.com/maps/api/js?sensor=false&language=es'>
    </script>

    <!-- Google AJAX API -->
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>

    <!-- Google javascripts -->
    <!-- Important note: Library (maplabel.js) was modifed !!! 
			At  20/09/2013 changed 'mapPane' to 'floatPane' (see there at line 127).
			Do not change it to another version without verification before!	
    -->
    <script type='text/javascript' charset='utf-8' src='/lib/google/maplabel.js'></script>

	<!-- Google's MarkerWithLabel library 
		MarkerWithLabel allows you to define markers with associated labels. 
		As you would expect, if the marker is draggable, so too will be the label. 
		In addition, a marker with a label responds to all mouse events in the 
		same manner as a regular marker. It also fires mouse events and 
		"property changed" events just as a regular marker would.	
	-->
    <script type='text/javascript' charset='utf-8' 
    	src='/lib/google/markerwithlabel.js'>
    </script>

    <!-- JSON library and session module (requires json-serialization.js). -->
	<script type="text/javascript" charset='utf-8' 
		src='/lib/js-session/json-serialization.js'>
	</script>
	<script type="text/javascript" charset='utf-8' 
		src='/lib/js-session/session.js'>
	</script>

    <!-- jQuery Validation Plugin for forms (requires jquery.js). -->
	<script src="/lib/jquery-validate/jquery.validate.js"></script>

    <!-- jQuery Captcha Plugin for forms (requires jquery.js). -->
	<script src="/lib/jquery-realperson/jquery.realperson.js"></script>

    <!-- jQuery Mockjaxs Plugin for forms (requires jquery.js). 
    	The jQuery Mockjax Plugin provides a simple and extremely flexible 
    	interface for mocking or simulating ajax requests and responses.
    -->
	<script src="/lib/jquery-mockjax/jquery.mockjax.js"></script>
	
	<!--
		IE specific stuff. Part I
	----------------------------------------------------------->
	
	<!-- IE8 requires the excanvas library extension located. 
		Firefox, Safari and Opera 9 support the canvas tag to allow 2D command-based 
		drawing operations. ExplorerCanvas brings the same functionality to Internet 
		Explorer; web developers only need to include a single script tag in their 
		existing canvas webpages to enable this support.
	-->
	<!--[if IE]>
		<script type="text/javascript" charset='utf-8' 
			src='/lib/excanvas/excanvas.js'>
		</script>
	<![endif]-->

	<!-- IE8 requires the canvas.text.js library for text integration. -->
	<!--[if IE]>
		<script type="text/javascript" charset='utf-8' 
			src='/lib/excanvas/canvas.text.js?reimplement=true'>
		</script>
	<![endif]-->
	
    <!-- The HTML5 Shiv enables use of HTML5 sectioning elements in legacy 
    	Internet Explorer and provides basic HTML5 styling for Internet Explorer 6-9, 
    	Safari 4.x (and iPhone 3.x), and Firefox 3.x.
     -->
	<!--[if lt IE 9]>
    	<script type='text/javascript' charset='utf-8' 
    		src='/lib/html5shiv/html5shiv.js'>
    	</script>
	<![endif]-->

     <!-- Respond javascript library 
		A fast & lightweight polyfill for min/max-width CSS3 
		Media Queries (for IE 6-8, and more).
    -->
	<!--[if lt IE 9]>
    	<script type='text/javascript' src="/lib/respond/respond.min.js"></script>
	<![endif]-->

	<!-- Internet Explorer 10 doesn't differentiate device width from viewport width, and 
	thus doesn't properly apply the media queries in Bootstrap's CSS. To address this, 
	we can optionally include CSS (see below) and JavaScript to work 
	around this problem until Microsoft issues a fix. 
	--------------------------------------------------->
	<!--[if IE 10]>
		<script type='text/javascript' charset='utf-8'>
			if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  				var msViewportStyle = document.createElement("style")
  				msViewportStyle.appendChild(
    			document.createTextNode(
      				"@-ms-viewport{width:auto!important}"
    			)
  			)
  			document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
		}
		</script>
	<![endif]-->

    <!-- Business code (Visualization functions, routines, etc.) -->
    <link href='/lib/catastro/css/catastro_techo.css' rel='stylesheet'>
    <script type='text/javascript' charset='utf-8' 
    	src='/lib/catastro/js/catastro_techo_datasources.js'>
    </script>
    <script type='text/javascript' charset='utf-8' 
    	src='/lib/catastro/js/catastro_techo.js'>
    </script>

	<!-- Internet Explorer 10 doesn't differentiate device width from viewport width, 
	and thus doesn't properly apply the media queries in Bootstrap's CSS. To address 
	this, we can optionally include CSS and JavaScript (see in layout.erb) to work 
	around this problem until Microsoft issues a fix. 
	--------------------------------------------------->
	<!--[if IE 10]>
    	<style type="text/css">
		@-webkit-viewport   { width: device-width; }
		@-moz-viewport      { width: device-width; }
		@-ms-viewport       { width: device-width; }
		@-o-viewport        { width: device-width; }
		@viewport           { width: device-width; }
    	</style>
	<![endif]-->

    <!-- Quick fix for using Twitter Bootstrap with Google maps.
    Controls and WindowInfo are not printed/shown correctly
    without this.
    We override the style of the img tag for the div that
    contains the map and we need to make sure that this fix
    gets included in the header aera of HTML-Code.
    See also: github.com/twitter/bootstrap/issues/1552
    ------------------------------------------------------->
    <style type="text/css">
      #map_canvas img { max-width: none; }
      #map_index_page img { max-width: none; }
      #map img { max-width: none; }
      #map_canvas label { width: auto; display:inline; }
      #map_index_page label { width: auto; display:inline; }
    </style>
  </head>

<style>
.navbar-inner > .container{
	width:1000px;
}
</style>

  <body style="padding-top: 90px;">

	<!-- Various modal content.
	Please note:
	This code have to be situated before(!) navbar definition.
	Otherwise backdrop effect of modal will not work properly.
	----------------------------------------------------------->
			<!-- Modals -->

			<!-- Methodology 2013 -->
			<div id="methodology-modal-2013" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			
  				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      				<h3 class="lead" id="techo_style"><strong>Metodolog&iacute;a 2013</strong></h3>
  				</div>
  			
  				<div class="modal-body">
  				Ninguna informaci&oacute;n disponible.
  				</div> <!-- end modal-body -->

				<div class="modal-footer">
    				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  				</div>
			</div>

			<!-- Methodology 2011 -->
			<div id="methodology-modal-2011" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			
  				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      				<h3 class="lead" id="techo_style"><strong>Metodolog&iacute;a 2011</strong></h3>
  				</div>
  			
  				<div class="modal-body">
          			<p>
					<h4 id="techo_style">DISEÑO METODOLÓGICO METODOLOGÍA UTILIZADA</h4>
					El presente estudio asumió como objetivo central determinar el universo de 
					urbanizaciones informales (tanto villas como asentamientos) existentes a la 
					fecha (mayo 2011) en los 30 partidos del Aglomerado del Gran Buenos Aires, 
					y en la Provincia de Córdoba, relevando las características socio-urbanas de 
					las villas y los asentamientos así como su localización geográfica. 
					Para responder a este desafío se optó por una estrategia metodológica 
					cuantitativa ya que en la actualidad se carece de cifras actualizadas que 
					nos permitan establecer con precisión la magnitud y el crecimiento del fenómeno 
					estudiado. En este sentido una aproximación cuantitativa al problema nos 
					permitió relevar la cantidad de villas y asentamientos, sus características 
					principales y su localización geográfica. La elaboración estadística de los 
					datos y su análisis nos permitió presentar además una fotografía de la realidad 
					de las urbanizaciones informales en la actualidad sin desconocer el carácter 
					dinámico del fenómeno abordado.
					</br>
					</br>
          			</p>
				  	
				  	<p>
					<h4 id="techo_style">UNIDAD DE ANÁLISIS</h4>
					La unidad de análisis de la presente investigación son las villas y los 
					asentamientos pertenecientes a la Región del Gran Buenos Aires y la Provincia 
					de Córdoba. Estos son definidos por Un Techo para mi País Argentina como un 
					conjunto de un mínimo de 8 familias agrupadas o contiguas, que no cuenten con 
					acceso regular a al menos uno de los servicios básicos (agua potable, luz 
					eléctrica y alcantarillado público) y que se encuentren en una situación 
					irregular de tenencia del terreno.
					</br>
					</br>
				  	</p>
				  	
				  	<p>
					<h4 id="techo_style">INSTRUMENTO DE RECOLECCIÓN DE DATOS</h4>
					Para abordar el fenómeno bajo estudio utilizamos “procedimientos estandarizados 
					de interrogación con el fin de obtener mediciones cuantitativas de una gran 
					variedad de características objetivas” de las villas y los asentamientos 
					(García Ferrando; 1994:147).
					</p>

					<p>			
					En este sentido, el instrumento de recolección de datos elaborado consistió 
					en la implementación de una encuesta. A la hora de construir el cuestionario 
					estaba la necesidad de elaborar una herramienta de recolección de datos que 
					permitiera recoger la máxima cantidad de información sobre las urbanizaciones 
					informales, pero que a su vez fuera fácil de aplicar, presentara buenos 
					estándares de confiabilidad y validez; y se adecuara a nuestras posibilidades. 
					En ese sentido, la entrevista estandarizada por medio de un cuestionario nos 
					permitió comparar las respuestas dadas a la misma pregunta por los referentes 
					seleccionados de cada una de las villas y asentamientos, así como también 
					cuantificar los resultados.
					</p>

					<p>
					A fin de consolidar la herramienta de recolección de datos se realizó un 
					pre-test del cuestionario donde el instrumento se aprobó definitivamente. 
					Para ello se llevaron a cabo las correspondientes entrevistas con la versión 
					inicial del cuestionario. Los resultados obtenidos nos permitieron recalibrar 
					y ajustar el instrumento, a partir de la revisión de algunas de las preguntas 
					e incluso de la secuencia de temas. Luego de realizada la prueba piloto se 
					procedió a editar la versión definitiva del cuestionario.
					</p>

					<p>
					Una vez consolidado el cuestionario éste se aplicó, en cada una de las villas 
					y los asentamientos a los referentes seleccionados. Para el proceso de 
					selección de los referentes se tomaron en cuenta las personas que nos pudieran 
					aportar los datos más precisos en lo que respecta a cada uno de los barrios 
					informales en particular. Los referentes elegidos fueron aquellos que pudieron 
					aportar datos sobre el proceso de conformación y desarrollo del barrio en el 
					tiempo, la propiedad de los terrenos y el acceso a los servicios públicos 
					domiciliarios, entre otros aspectos. En todos los casos se privilegiaron en el 
					proceso de selección a las personas que participaran de comisiones o juntas 
					vecinales u otras organizaciones propias de las villas y los asentamientos. 
					La duración promedio de la aplicación del cuestionario fue de aproximadamente 
					1 hora.
					</p>

					<p>
					Cabe destacar que la implementación de la encuesta fue llevada a cabo por 600 
					voluntarios coordinados por un equipo de profesionales.
					</p>

					<p>
					Todos los voluntarios fueron capacitados para realizar dicha tarea. Para tal 
					fin se elaboró un manual de aplicación del instrumento de recolección de datos 
					el cuál se constituyó como un insumo relevante en la etapa de capacitación al 
					brindar un conjunto de recomendaciones respecto a las instrucciones específicas 
					de llenado del cuestionario.
					</p>

					<p>
					A través de esta medida se buscó garantizar la correcta administración de las 
					preguntas.			
					</p>

					<p>
					Los equipos conformados recorrieron cada una de las localidades con el objetivo 
					de identificar las villas y los asentamientos y sus respectivos referentes. 
					Para lograr el registro completo de las urbanizaciones informales de la Región 
					del Gran Buenos Aires, y la Provincia de Córdoba,  se visitó cada una de las 
					zonas a lo largo de un período de cuatro meses.
					</p>
  				</div> <!-- end modal-body -->

				<div class="modal-footer">
    				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  				</div>
			</div>
			
			<!-- Information 2013 -->
			<div id="information-modal-2013" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			
  				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      				<h3 class="lead" id="techo_style"><strong>Informe 2013</strong></h3>
  				</div>
  			
  				<div class="modal-body">
  				Ninguna informaci&oacute;n disponible.
  				</div> <!-- end modal-body -->

				<div class="modal-footer">
    				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  				</div>
			</div>

			<!-- Information 2011 -->
			<div id="information-modal-2011" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			
  				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      				<h3 class="lead" id="techo_style"><strong>Informe 2011</strong></h3>
  				</div>
  			
  				<div class="modal-body">
  				Archivos para descargar:
				<li><a href="/downloads/Informe_Relevamiento_Buenos_Aires_2011.pdf" target="_blank">
					Informe Relevamiento Buenos Aires 2011.pdf</a></li>
				<li><a href="/downloads/Informe_Relevamiento_Cordoba_2011.pdf" target="_blank">
					Informe Relevamiento C&oacute;rdoba 2011.pdf</a></li>

  				</div> <!-- end modal-body -->

				<div class="modal-footer">
    				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  				</div>
			</div>

	<!-- end modal content -->

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="background-color: #727175;">
			<ul class="nav">
          		<!-- Home Techo logo -->			
            	<li><a style="padding:0;" href="/"><img src="/images/logo_techo.png" height="80" width="212" class="pull-left"/></a></li>
          		<!-- Methodology -->
              	<li style="padding-left:10px;"><a href="/content/methodology"><img src="/images/methodology.png" height="24" width="104"/></a></li>
              	<li><a href=""><img src="/images/divider.png" height="24" width="6"/></a></li>
          		<!-- FAQs -->
              	<li><a href="/content/faq"><img src="/images/faqs.png" height="24" width="37"/></a></li>
              	<li><a href=""><img src="/images/divider.png" height="24" width="6"/></a></li>
          		<!-- Contact -->
              	<li><a href="/content/contact"><img src="/images/contact.png" height="24" width="75"/></a></li>
              	<li><a href=""><img src="/images/divider.png" height="24" width="6"/></a></li>
          		<!-- Table -->
              	<li><a href="/content/tabla-de-barrios"><img src="/images/table.png" height="24" width="47"/></a></li>
              	<li><a href=""><img src="/images/divider.png" height="24" width="6"/></a></li>
          		<!-- Territory -->
            	<li><a href="/content/mapa-de-barrios"><img src="/images/territory.png" height="24" width="88"/></a></li>
          		<!-- Download information -->
              	<li><a href="/downloads/Relevamientos_de_asentamientos_2013_BAJA.pdf" target="_blank"><img src="/images/download_info.png" height="55" width="127"/></a></li>
          		<!-- Garagelab logo -->
            	<li><a style="padding:0; margin-left:10px;" href="http://www.garagelab.cc/" target="_blank"><img src="/images/logo_garagelab.png" height="73" width="151" class="pull-right"/></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Container for global and local content.
    ================================================== -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">

          <!-- Código fuente individual.
          Depende de la página seleccionada.
          ================================================== -->
          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>